header {
  background: url(../images/hero.png) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
} /* plan to edit the image with more white background so text is legible */


h1 {
  color: rgb(40, 40, 40);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.slogan {
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 3.5rem;
  line-height: normal;
  padding: 25px;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer {
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}

body {
  padding-bottom: 5rem;
}

footer > ul {
  margin: 0;
  font-size: 2.5rem;
  background-color: black;
  height: 50px;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  padding: 10px;
}

.fa-linkedin-square, .fa-github-square {
  color: white;
}
