*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #111010;
}

nav li {
  float: left;
  display: inline;
}

header {
  width: 100%;
  height: 625px;
  left: 0px;
  background-color: #111010;
  color: white;
}

footer {

}



/* FONTS */

html {
  font-size: 10px;
}


/*slogan*/
h1 {
  font-size: 5.3rem;
  font-family: "Abril Fatface";
  color: white;
  font-weight: 100;
  letter-spacing: 0.03em;
  line-height: 62.2px;
  padding-left: 22px;
  padding-top: 157px;
}


/* section title */
h2 {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}


/* label */
h3 {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111010;
}

.copyright {
  font-size: 10px;
}

img {
  max-width:100%;
}

.underline {
  border-bottom: 3px solid #A6544A;
}

.iAm {
  color: #A6544A;
}
