/*----------- Global------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: cursive;
  font-weight: 100;
}

body {
  width: 80%;
  margin: auto;
  /*background-image: url();*/
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:"Poppins", sans-serif;
}


h1.slogan {
  font-size: 75px;
  font-weight: 400;
  color: white;
  font-family: "Abril Fatface";
}

h1 {
  font-size: 75px;
  font-weight: 400;
  color: black;
  font-family: "Abril Fatface";
}

h2 {
  font-size: 35px;
  font-weight: 400;
  color: #17191A;
  font-family: "Abril Fatface";
}

h3 {
  font-size: 22px;
  margin-top: 10px;
  color: black;
}

h5.name {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
}

h5 {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
}

p {
  color: #8F9EA5;
  opacity: 0.8;
  font-weight: 100;
  margin-top: 10px;
  font-size: 20px;
}

/*----------- Nav ------------- */
.nav {
  height: 100px;
  text-align: center;
  background-color: black;
}

.nav a {
  display: inline-block;
  vertical-align: middle;
  padding: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}


/*----------- Landing ------------- */

.landing {
  height: 100vh;
  position: relative;
  background-color: black;
  }

.landingName {
  padding-top: 1em;
  text-align: center;
}

.landingSlogan {
  position: absolute;
  bottom: 10em;
}

.landingScroll {
  position: absolute;
  bottom: 5em;
  left:0;
  right:0;
  margin: auto;
  text-align: center;
  color: white;
}

/*----------- Skills ------------- */
.skills {
  text-align: center;
  margin-bottom: 8em;
  margin-top: 8em;
}

.skills p {
  margin-bottom: 30px;
}

.skills img {
  width: 40px;
  margin: 0 15px;
}

/*----------- Project 01 ------------- */
.work {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
  margin-top: 8em;
}

.work > .workText {
  position: absolute;
  margin-top: 2em;
}


.work > .workText > .underline {
  display: block;
  background-color: blue;
  height: 3px;
  width: 61px;
  margin-top: 5px;
}

.work > .workImg {
  width: 85%;
  float: right;
}

.work ul {
  position: absolute;
  bottom: 0;
  right: 87%;
}

.work ul li {
  display: inline-block;
  margin-top: 20px;
}

/*----------- Project 02 ------------- */
.work2 {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}

.work2 > .workText {
  position: absolute;
  top: 85px;
  right: 0;
  text-align: right;
}

.work2 > .workText > .underline {
  display: block;
  background-color: blue;
  height: 3px;
  width: 61px;
  margin-top: 5px;
  float: right;
}

.work2 > .workImg {
  width: 85%;
  float: left;
}

.work2 ul {
  position: absolute;
  bottom: 0;
  left: 86%;
}

.work2 ul li {
  margin-top: 20px;

}


/*html {
  font-size: 10px;
}

body {
  background-color: blue;
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
}

nav {
  background-color: #111010;
  height: 15vh;
  width: 90%;
  margin: auto;
  top: 0;
  bottom: 0;
}

.my-logo, .menu-bar {
  float: left;
  width: 50%;
}

.menu-bar li {
  display: inline-block;
  justify-content: space-between;
  list-style: none;
  padding-bottom: px;
}

.menu-bar li a {
  padding: 20px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #99b0b6;
  text-decoration: none;
}

.hero {
  background-color: black;
  height: 85vh;
  width: 90%;
  margin: auto;
  color: white;
  top: 0;
  bottom: 0;
}

.my-role {

}

.scroll-down {
  position: absolute;
  bottom: 0;
  width: 85%;
  text-align: center;
}

.scroll-down h5, i {
  padding: .5rem;
  margin: 0;
}

.scroll-down i {
  font-size: 1.8rem;
}


/* typograhpy
  h1 {
    font-size: 4.3rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
    font-style: normal;
    width: 90%;
    letter-spacing: 0.2rem;
    padding-top: 15rem;
  }

  /* section headers
  h2 {

  }

  h3, h5, h6 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
  }





/*nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #111010;
}

nav li {
  float: left;
  display: inline;
}

header {
  width: 100%;
  height: 625px;
  left: 0px;
  background-color: #111010;
  color: white;
}

footer {

}



 FONTS

html {
  font-size: 10px;
}


/*slogan
h1 {
  font-size: 5.3rem;
  font-family: "Abril Fatface";
  color: white;
  font-weight: 100;
  letter-spacing: 0.03em;
  line-height: 62.2px;
  padding-left: 22px;
  padding-top: 157px;
}


/* section title
h2 {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}


/* label
h3 {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111010;
}

.copyright {
  font-size: 10px;
}

img {
  max-width:100%;
}

.underline {
  border-bottom: 3px solid #A6544A;
}

.iAm {
  color: #A6544A;
}
