/*----------- Global------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media screen and (min-width: 900px) {
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .seasonlyLanding img#mobileLanding {
    display: none !important;
  }
}

html {
  font-weight: 100;
  font-size: 10px;
  width: 100%;
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  background-color: white;
}

main {
  width: 100%;
  margin: auto;
  font-family:"Poppins", sans-serif;
  background-color: white;
}

.containerBottom {
  width: 85%;
  margin: auto;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:"Poppins", sans-serif;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

h1 {
  font-size: 7.5rem;
  font-weight: 400;
  color: #111010;
  font-family: "Abril Fatface";
}

h2.project, h2.aboutTitle, h2.footerTitle {
  font-size: 3.2rem;
  font-weight: 800;
  color: #202020;
  font-family: "Abril Fatface";
}

/* project section title */
h2 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #202020;
  font-family: "Abril Fatface";
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.2rem;
  margin-top: 10px;
  color: #202020;
  font-family: "Abril Fatface";
  margin-bottom: 1em;
}

h4 {
  font-size: 1.8rem;
  color: #A6544A;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  font-weight: 800;
}

h5 {
  font-size: 1.8rem;
  color: #202020;
  text-transform: uppercase;
  font-family:"Poppins Medium", sans-serif;
  margin-top: 1em;
  font-weight: normal;
}

p {
  color: #202020;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-family:"Poppins", sans-serif;
  font-weight: normal;
  line-height: 2.5rem;
}
/*----------- SIDE NAV ------------- */
.icon-bar {
  position: fixed;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
  color: black;
  font-size: 2.4rem;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  color: white;
}
/*add jquery
.scroll {
  background: #A6544A;
}*/
.message, .linkedin {
  background: #C68880;
}
/*----------- Nav ALL ------------- */
nav {
  width: 100%;
  margin: auto;
  background-color: #000000;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

nav ul {
  width: 85%;
  margin: auto;
  text-align: center;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 8rem;
  padding-right: 8rem;
}
nav ul li a:hover {
  color: #C68880;
}
nav ul li a {
  vertical-align: middle;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  color: white;
  display: none;
  font-size: 3rem;
}
/*----------- contact------------------------ */

.contactContainer {
  width: 100%;
  height: 85vh;
  background-color: white;
}
#connect {
  letter-spacing: .09rem;
  font-size: 4.5rem;
  color: black;
}
h5#emailLink a {
  color: #A6544A;
  text-decoration: none;
  text-transform: lowercase;
}
h5#emailLink a:hover {
  text-decoration: underline;
}
h5#emailLink {
  margin-top: 4rem;
}
.contactDivider {
  border-style: inset;
  height: 5px;
  background-color: #A6544A;
  width: 40%;
  margin: auto;
  float: left;
}
#contactForm {
  width: 40%;
  margin-top: 2.5%;
  padding-top: 2%;
  margin-left: 8%;
  padding-left: 3%;
  float: left;
}
#contactContainerRight {
  width: 45%;
  float: right;
  text-align: center;
  margin-right: 2%;
}
#contactPic {
  width: 80%;
  margin: auto;
  height: 60vh;
  background-image: url("../images/contactAbout.png");
  background-size: cover;
  margin-top: 10%;
}
span#grey {
  font-style: italic;
  text-transform: capitalize;
  padding-left: .5rem;
  padding-right: .5rem;
  color: black;
}
span.title {
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 800;
  color: black;
}

label {
  display: block;
  margin-top: 5rem;
}

.contactButton {
  background-color: #A6544A;
  padding: 14px 60px;
  margin-top: 4rem;
  width: 40%;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  font-weight: normal;
}
.contactButton:hover {
  background-color: black;
  color: white;
}

.contactInput {
  border: 2px solid #ebebeb;
  font-size: 2.2rem;
  padding: .8rem;
  padding-left: 1rem;
  background-color: white;
}
#email {
  height: 3.5rem;
  width: 90%;
  margin:auto;
}
#message {
  width: 90%;
  margin: auto;
  height: 15rem;
}
.fa-paper-plane {
  padding-right: 8%;
}

/*----------- HOME PAGE------------------------ */
/*----------- Landing ------------- */
header {
  width: 100%;
  height: 90vh;
  margin: auto;
  font-family:"Poppins", sans-serif;
  background-image: url("../images/landingBackground.png");
  background-size: cover;
}

.containerTop {
  background-color: #000000;
}

h1.slogan, h1.greeting {
  width: 60%;
  padding-top: 4.5rem;
  padding-left: 16rem;
  font-size: 6rem;
  font-weight: 400;
  color: white;
  font-family: "Abril Fatface";
  line-height: 6rem;
  letter-spacing: .2rem;
}
h1.greeting {
  font-family:"Poppins bold", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5rem;
  padding-top: 9rem;
  font-size: 3.8rem;
}
.sloganDivider {
  margin-top: 4.5rem;
  margin-left: 16rem;
  border-style: inset;
  height: 4px;
  background-color: #A6544A;
  width: 20%;
}
.landingSlogan {
  text-align: left;
}

/* ----------- Tools */
.tools {
  text-align: center;
  margin-bottom: 15rem;
  margin-top: 10rem;
}
h2.homeTitle {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #202020;
}
.tools img {
  padding-left: 3rem;
  padding-right: 3rem;
}

#latestWork {
  text-align: center;
  background-image: url("../images/workDesktop.png");
  background-size: cover;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
h2.workTitle {
  text-align: center;
  font-size: 3.9rem;
  background-color: #A6544A;
  padding: 2.5rem;
  margin: auto;
  width: 25%;
  margin-top: 0;
}
h5.appType {
  font-size: 2rem;
  font-weight: bold;
}

/*----------- Project 01 ------------- */


.work {
  width: 100%;
  position: relative;
  margin-bottom: 8rem;
  margin-top: 4em;
}

.work > .workText {
  position: absolute;
  padding-top: 6rem;
  margin-left: 8rem;
}

.workText p {
  width: 30rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.work > .workText > .underline {
  background-color: #A6544A;
  height: 4px;
  width: 130px;
  margin-top: 3px;
}

.work > .workImg {
  width: 55%;
  float: right;
  margin: auto;
}

.work > img.workImg {
  width: 100%;
  float: right;
}



/*----------- Dividers ALL ------------- */
.homeDivider, .homeSectionDivider, .divider, .dividerInside, .dividerInsideLast, .focusDivider, .aboutFocusDivider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  height: 2px;
  background-color: #E1E1E0;
  width: 100%;
}

.focusDivider {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.aboutFocusDivider {
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.homeSectionDivider {
  width: 30%;
  margin-bottom: 6rem;
  background-color: #A6544A;
  height: 4px;
}

.divider {
  width: 85%;
}
.dividerInsideLast {
  margin-top: 9rem;
}
.dividerInside {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


/*----------- Project 02 ------------- */
.work2 {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  margin-top: 8rem;
}

.work2 > .workText {
  position: relative;
  margin-top: 4.25rem;
  width: 20%;
  float: right;
  margin-right: 20rem;
}

.work2 > .workText > .underline {
  background-color: #A6544A;
  height: 3px;
  width: 130px;
  float: left;
  margin-top: 3px;
}

.work2 > .workImg {
  width: 55%;
  float: left;
  padding-left: 3rem;
}

.workImg img{
  width: 85%;
}

/*.work2 > img.workImg {
  width: 45%;
  float: left;
  margin-left: 6rem;
} */



/*----------- Project 01 & 02 ------------- */

.work a, .work2 a {
  text-decoration: none;
  color: #202020;
}

h4.button {
  color: #000000;
  margin-top: 1rem;
}
h4.button:hover {
  color: #A6544A;
}



/*----------- Footer ALL ------------- */

.footer {
  height: 26rem;
  background-color: black;
  width: 100%;
  bottom: 0;
  }

.footerText {
  text-align: center;
  width: 35%;
  margin: auto;
}

.footerText > h2 {
  color: #A6544A;
  font-size: 3.8rem;
  padding-top: 3.8rem;
  margin-bottom: 0;
  letter-spacing: 0.05rem;
}

.footerText > p {
  color: white;
  padding: 0;
}

.footerIcons {
  text-align: center;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

.footerIcons a {
  color: #99B0B6;
  padding: 3em;
}

p.copyright {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}


/* ------ABOUT PAGE ------------------------ */
/*----------- Landing ------------- */
.landingAbout {
  position: relative;
  width: 85%;
  margin: auto;
  text-align: center;
  height: 100vh;
  background-image: url("../images/aboutPic.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingAboutContainer {
  height: 100vh;
  position: relative;
  background-color: #000000;
}
.landingQuote {
  padding-top: 9rem;
}
/* about quote */
h3#quote {
  color: white;
  opacity: 0.5;
  font-size: 2.2rem;
  font-family:"Poppins", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 30px;
}

/*----------- Introduction ------------- */
.aboutSection {
  width: 65%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.iAm {
  color: #A6544A;
}
.focus, .aboutFocus {
  width: 85%;
}
.aboutFocus {
  width:100%;
}
.AboutSectionText {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/*----------- My Story ------------- */
.greyContainer {
  background-color: #efefef;
}
.sectionFirst {
  width: 100%;
  margin: auto;
  padding-top: 4rem;
}
.label {
  font-size: 1.8rem;
  color: #A6544A;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  font-weight: 800;
}
.aboutDivider {
  display: block;
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: left;
  border-style: inset;
  height: 3px;
  background-color: #A6544A;
  width: 40%;
}
.subSection {
  width: 65%;
  margin: auto;
  padding-bottom: 4rem;
}
.indent {
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.aboutUnderline {
  background-color: #99B0B6;
  height: 3px;
  width: 130px;
  margin-top: .6rem;
}
.lastAboutSection {
  width: 65%;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 13rem;
}


/* PROJECT PAGE ----------------------------------------------*/
/*----------- General------------- */
.textLeft, .textLeft ul {
  text-align: left;
  list-style-type: disc;
}
.section {
  width: 60%;
  margin: auto;
  padding-top: 9rem;
  padding-bottom: 9rem;
  overflow: hidden;
}
/* ------- Section Names */
.sectionTitle {
  text-align: center;
  margin-bottom: 3rem;
}
.sectionTitle i {
  font-size: 3rem;
  padding-bottom: 1.2rem;
  color: #A6544A;
}
.sectionTitle > .underline {
  background-color: #A6544A;
  height: 3px;
  width: 130px;
  margin: auto;
  text-align: center;
}
/* Key Takeaways Section */
.takeawayLabel {
  color: #A6544A;
  text-transform: uppercase;
}
h2.keyTakeaways {
  color: #A6544A;
}
.keyUnderline {
  background-color: #111010;
  height: 3px;
  width: 130px;
  margin: auto;
  text-align: center;
}
/*-- Phase 1-5 */
.phase {
  background-color: #111010;
  text-align: center;
  padding: 2rem;
}
/* large images */
.sectionImg {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
.sectionImg img {
  width: 100%;
  margin: auto;
}

/*--- PROJECT 2---------------------- */
/*--- Landing---------------------- */
.seasonlyLanding img {
  width: 100%;
  height: auto;
}

h2#project {
  font-size: 4rem;
}
/* About --------*/
span.em {
  font-style: italic;
}

.problemImg img{
  width: 60%;
  margin:auto;
  margin-bottom: 5rem;
}
.problemImg {
  width: 60%;
  margin: auto;
  text-align: center;
}

.competitor {
  width: 80%;
}

.persona {
  width: 100%;
  padding-top: 1rem;
}

span.bold {
  font-weight: 800;
}
.threeSectionImg img{
  width: 33%;
  margin-bottom: 3rem;
}
.halfSectionImg img{
  width: 25%;
  padding: 3rem;
  margin: auto;
}
.halfSectionImg, .twoSectionImg, .mediumSectionImg {
  text-align: center;
}
.mediumSectionImg img {
  width: 85%;
  margin-top: 4rem;
}
.twoSectionImg img {
  width: 35%;
  padding:3rem;
  margin:auto;
}

.redContainer {
  background-color: #eddcda;
  width: 100%;
}
.testSection {
  width: 65%;
  margin: auto;
  padding:1rem;
}

.takeawayText ul, ul.bullet {
  font-size: 1.8rem;
  list-style-type:disc;
  display: list-item;
  padding-left: 2.5rem;
  font-family:"Poppins", sans-serif;
  font-weight: normal;
  line-height: 2.5rem;
  color: #202020;
}
#short {
  padding-bottom: 3rem;
}
#design img {
  width: 75%;
  margin: auto;
}
#design {
  text-align: center;
  margin-bottom: 5rem;
}
.takeawayText ul li {
  padding-bottom: 2rem;
  list-style-type:disc;
}
span.emBold {
  text-transform: lowercase;
  font-weight: bolder;
  font-style: italic;
}
.fourImg img{
  width: 20%;
  padding: 2%;
  margin: auto;
}
.fourImg {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 5rem;
}

.gif {
  margin-top: 4rem;
  width: 750px;
  height: 500px;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.deliverableLink#bottom {
  margin-bottom: 8rem;
}

#smallCenter {
  width: 70%;
  margin-top: 0;
  padding-top: 0;
}

.maze img{
  width: 25%;
  padding: 2rem;
  margin: auto;
}
.maze {
  text-align: center;
}

/*---prject 1  Landing---------------------- */
.landingContainer {
  background-image: url("../images/teacherPower.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing {
  position: relative;
  width: 85%;
  margin: auto;
  padding-top: 5rem;
  text-align: center;
}
.landingText img {
  width: 60%;
  left:0;
  right:0;
  margin: auto;
  padding-bottom: 5rem;
}

.landing > img {
  width: 75%;
  margin-left: 6rem;
  padding: 4rem;
}
.obLogo {
  padding: 4rem;
}
.landingText {
  width: 55%;
  margin: auto;
  text-align: center;
}

/* prototype button */
.protoButton, .protoButtonMain {
  margin: auto;
  background-color: #111010;
  border: none;
  padding: 14px 60px;
  width: 20rem;
  border-radius: 2px;
  margin-bottom: 3rem;
  margin-top: 6rem;
}
.protoButton {
  margin-top: 2rem;
  margin-bottom: 0;
}
.protoButton a, .protoButtonMain a, .submit {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  font-weight: normal;
}

.submit {
  padding: 0;
  margin: 0;
}
.protoButton:hover, .protoButtonMain:hover {
  background-color: #A6544A;
}
/*----- Summary ---------------------- */
/*----- Roles, Deliverables, Specs */
.summaryContainer {
  width: 85%;
  margin: auto;
  background-color: white;
}
.row {
  margin-top: 13rem;
  margin-bottom: 10rem;
}
.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.row:after {  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
/*----- Problem */
.problemContainer {
  width: 100%;
  background-color: #efefef;
}
/*----- Solution */
.solutionImg {
  margin-top: 5rem;
  text-align: center;
}
.solutionImg img {
  width: 30%;
  margin: auto;
}
/*------- Discovery and Research ---------------------- */
/*----- User Survey */
h1.percent {
  font-size: 4.5rem;
}
.columnPercent {
  float: left;
  width: 15%;
  text-align: center;
  margin: auto;
  padding-left: 9.16%;
  padding-right: 9.16%;
  padding-top: 0;
}
.greyContainer {
  width: 100%;
  margin: auto;
  background-color: #efefef;
}
.surveyText {
  text-align: center;
  margin-top: 6rem;
}
.row {
  margin-top: 3rem;
  margin-bottom: 0;
}
.row:after {  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
.challenges {
  margin-top: 8rem;
}
/*----- Competitive Analysis */
.compContainer {
  width: 100%;
  margin: auto;
}
.columnComp {
  float: left;
  width: 25%;
  text-align: center;
  margin: auto;
  padding-left: 4.15%;
  padding-right: 4.15%;
  padding-top: 0;
}
.rowComp {
  margin-top: 5rem;
  margin-bottom:9rem;
}
.row:after {  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
/*----- User Personas */
.personaContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 9rem;
}
.sectionText {
  width: 60%;
  margin: auto;
  padding-top: 9rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
.rowPersona {
  width: 85%;
  margin: auto;
  padding-bottom: 3rem;
}
.columnPersona {
  float: left;
  width: 30%;
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0;
}
.columnImg img {
  width: 49%;
  position: relative;
  vertical-align: middle;
}
.textLeft > h4 {
  padding-top: 4rem;
}
.textLeft, .textLeft ul {
  text-align: left;
  list-style-type: disc;
}
.rowPersona:after {  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}
/*----Information Architecture ------------- */
/*----- User Stories */
.centerText, .focus {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.focus {
  width: 50%;
  margin: auto;
  margin-bottom: 0;
}
/*----- Flows and Sitemap */
.flowContainer {
  width: 100%;
  background-color: #EFEFEF;
}
/* wireframes */
.smallSectionImg {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
.smallSectionImg img {
  width: 48%;
  margin: auto;
}
/*------- usability tests */
#testingSection {
  padding-bottom: 2rem;
}
.testingImg img {
  width: 30%;
  padding: 1.5%;
}
.testingImg {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
#last {
    padding-bottom: 5rem;
}
/*------- brand identity */
/* deliverable button */
.deliverableLink, .deliverableLinkLarge, .deliverableLinkMedium {
  margin: auto;
  margin-top: 6rem;
  background-color: #A6544A;
  padding: 14px 60px;
  width: 20rem;
  text-align: center;
}
.deliverableLinkLarge, .deliverableLinkMedium {
  padding: 14px 22px;
  width: 27rem;
}
.deliverableLink a, .deliverableLinkLarge a, .deliverableLinkMedium a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family:"Poppins", sans-serif;
  font-weight: normal;
}
.deliverableLink:hover, .deliverableLinkLarge:hover, .deliverableLinkMedium:hover {
  background-color: black;
}
/*------- pref testing
N/A
*/
/*------- prototype / key takeaways images */

.beforeAfterImg {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.beforeAfterImg img {
  width: 47%;
  padding: 1.4%;
  margin: auto;
}
/*----- Reflection ------------- */
#lastSection {
  padding: 3rem;
}




/* Media Queries ---------------------------------- */
/* -------Mobile */
@media screen and (min-width: 300px) and (max-width: 760px) {
  /* nav and landing -- */
  nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
    .toggle {
    display: block;
    width: 85%;
    margin: auto;
  }
  .toggle i {
    font-size: 4rem;
  }
    nav ul {
      width: 100%;
      display: none;
      margin-bottom: 9rem;
    }
    nav ul li {
      display: block;
      text-align: center;
      padding-top: 9rem;
    }
    .active {
      display: block;
    }

  /* contact page -- */
  #connect {
    font-size: 3.6rem;
    margin-top: 1.5rem;
  }
  .contactContainer, #contactForm {
    float: none;
    width: 95%;
    padding: 0;
    margin: auto;
    height: auto;
  }
  #contactForm {
    display: block;
    width: 90%;
    margin: auto;
  }
  label {
    margin-top: 4rem;
  }
  .contactContainer {
    width: 100%;
  }
  #contactPic, #contactContainerRight {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40vh;
    float: none;
  }
  #contactContainerRight > h5 {
    display: none;
  }
  .contactButton {
    width: 96%;
    margin-bottom: 4rem;
    margin-top:4rem;
    text-align: center;
  }
  #message {
    height: 20rem;
  }
/* project 2 ***************/
.seasonlyLanding img#desktopLanding {
  display: none !important;
}

#design img{
  display: none !important;
}
.fourImg {
  width: 100%;
}
.fourImg img{
  width: 45%;
}
.threeSectionImg img {
  width: 100%;
}
.maze img {
  width: 31%;
  padding: .2rem;
  margin-top: 1rem;
}
.gif {
  display: none;
}
.smallSectionImg, .mediumSectionImg {
  width: 95%;
  text-align: center;
  margin: auto;
  padding-left: 0;
}
 .smallSectionImg img, .mediumSectionImg img {
   width: 95%;
 }
 .twoSectionImg img {
   width: 75%;
 }
/* home page ************/
  header {
    min-height: 620px;
    height: auto;
    background-image: url("../images/landingBackgroundMobile.png");
  }

  h1.slogan, h1.greeting {
    font-size: 4rem;
    padding-left: 2rem;
    width: 30rem;
    line-height: 5.2rem;
  }

  h1.greeting {
    width: 95%;
    font-size: 3.4rem;
  }
  .sloganDivider {
    margin-left: 2rem;
    width: 30%;
  }

  /* fave tools -- */
  h2.homeTitle {
    font-size: 2.2rem;
  }
  .homeSectionDivider {
    margin-bottom: 3rem;
  }
  .tools {
    margin-bottom: 10rem;
  }
  .tools img {
    padding: 2px 15px;
  }
  /* both projects -- */

  #latestWork {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("../images/workMobile.png");
  }
  h2.workTitle {
    padding: 1rem;
    width: 60%;
  }
  h5 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .containerBottom {
    width: 95%;
    margin: auto;
    padding: 0;
  }
  .work, .work2 {
    margin-bottom: 7rem;
  }
  .work, .work2, .workText, .workImg, img.workImg {
    display: block;
    text-align: center;
  }
  img.workImg {
    width: 100%;
    margin:0;
    padding:0;
  }
  h4.button {
    padding-top: 1rem;
    margin: 0;
  }
  h5.appType {
    font-size: 2rem;
    font-weight: bold;
  }
  /* project 01 -- */
  .work > .workText {
    width: 100%;
    margin: auto;
    text-align: center;
    position: static;
    display: block;
    padding-top: 2rem;
  }
  .workText p {
    margin: auto;
  }
  .work > .workText > .underline {
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .work > .workImg {
    width: 100%;
    float: none;
    padding-top: 0;
  }
  /* project 02 -- */
  .work2 {
    margin-top: 6rem;
    }.work2 > .workText {
    width: 100%;
    margin: auto;
    text-align: center;
    position: static;
    display: block;
  }
  .work2 > .workText > .underline {
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
    float: none;
    margin-bottom: 4rem;
  }
  .work2 > .workImg {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .work2 > img.workImg {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .work2 > .workText {
    float: none;
    padding-top: 2rem;
  }
  /* footer -- */
  .footer {
    height: 30rem;
    }
  .footerText {
    width: 75%;
    margin: auto;
  }
  .footerText > h2 {
    font-size: 3.6rem;
  }
  .footerText > p {
    font-size: 1.6rem;
  }
  /* ABOUT PAGE ----------- */
  .landingAbout {
  height: 48vh;
  width: 100%;
  background-size: cover;
  }
  .landingAboutContainer {
  height: 48vh;
  }

  h3#quote {
    font-size: 1.6rem;
  }
  .landingQuote {
    padding-top: 7rem;
  }
  /* Introduction and my story-- */
  .aboutSection, .subSection, .lastAboutSection {
    width: 90%;
    margin: auto;
  }
  .aboutFocus {
    width: 90%;
    margin: auto;
  }

  p {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  /* PROJECT PAGE -------------------------- */
  /* nav */
  .icon-bar {
    display: none;
  }
  .landingContainer {
  background-size: cover;
  width: 100%;
  }
  .landing {
    width: 100%;
  }
  .landingText > p {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .landing img {
    width: 47%;
    margin: auto;
    padding-left: 1%;
    padding-right: 0;
    padding-top: 2rem;
    overflow: hidden;
  }
  .landingImg {
    margin-top: 3rem;
  }
  .landing > img {
    width: 95%;
    margin-left: 4%;
  }
  img.obLogo {
    width: 60%;
    margin: auto;
    padding-top: 3rem;
  }
  .landingText {
    width: 80%;
    margin: auto;
  }
  /* prototype button */
  .protoButton, .protoButtonMain {
    margin-top: 4rem;
    width: 18rem;
    margin-bottom: 2rem;
  }
  /*Roles, Deliverables, Specs */
  .column {
    float:none;
    width: 90%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  /*Sections */
  .section {
    width: 85%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .sectionTitle > .underline {
    margin-bottom: 4rem;
  }
  .solutionImg {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .solutionImg img {
    width: 60%;
    padding-top: 1.5rem;
  }
  /* user survey & comp analysis */
  .columnPercent {
    float:none;
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .columnComp {
    float:none;
    width: 70%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .columnComp img {
    padding-top: 5rem;
  }
  .rowComp {
    margin-bottom: 2rem;
  }
  /*user personas */
  .sectionText {
    width: 85%;
    padding-bottom: 2rem;
  }
  .columnPersona {
    float:none;
    width: 95%;
    margin: auto;
    padding-top: 0;
    padding-top: 3rem;
    padding-left: 0;
    padding-right:0;
  }
  .textLeft > h4 {
  padding-top: 2rem;
}
  .columnImg img {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .textLeft ul {
    padding-bottom: 3rem;
  }
  /* deliverable button */
  .deliverableLink, .deliverableLinkLarge, .deliverableLinkMedium {
    margin-top: 4rem;
    width: 18rem;
    margin-bottom: 2rem;
  }
  .deliverableLinkMedium {
    width: 26rem;
  }
  .deliverableLinkLarge {
    width: 29rem;
  }
  /* usability tests */
  .focus, .aboutFocus {
    width: 80%;
  }
  .testingImg img {
    width: 95%;
    margin:auto;
    padding-bottom: 4rem;
  }
  /* concept & identity */
  .centerText img {
    width: 90%;
    margin: auto;
  }
  /* pref tests */
  .sectionImg {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  /*-- Phase 1-5 */
  .phase {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin: auto;
  }
  .phase img {
    width: 95%;
    margin:auto;
  }
  /* iterations */
  .beforeAfterImg img {
    width: 75%;
    margin: auto;
  }
}

/* smaller phones (iphone 5) ------*/
@media screen and (min-width: 300px) and (max-width: 320px) {
  h1.slogan {
    padding-top: 12rem;
    font-size: 3.5rem;
    width: 90%;
  }
  header {
    background-size: cover;
  }
}

/* -------Tablet*/
@media screen and (min-width: 760px) and (max-width: 1024px) {
  /* nav and landing -- */
  nav {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .toggle {
    display: block;
    font-size: 5rem;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    padding-right: 3rem;
  }
  .toggle i {
    font-size: 6rem;
  }
    nav ul {
      width: 100%;
      display: none;
    }
    nav ul li {
      display: block;
      text-align: center;
      padding-top: 9rem;
    }
    nav ul li a {
      font-size: 2.8rem;
    }
    .active {
      display: block;
      margin-bottom: 5rem;
    }
    /* contact page -- */
    #connect {
      margin-top: 3rem;
    }
    .contactContainer, #contactForm {
      float: none;
      width: 95%;
      padding: 0;
      margin: auto;
      height: auto;
    }
    #contactForm {
      display: block;
      width: 95%;
      margin: auto;
      margin-right: 0;
    }
    label {
      margin-top: 4rem;
    }
    .contactContainer {
      width: 100%;
    }
    #contactPic, #contactContainerRight {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 45vh;
      float: none;
    }
    #contactContainerRight > h5 {
      display: none;
    }
    .contactButton {
      width: 90%;
      margin-bottom: 4rem;
      margin-top:4rem;
      text-align: center;
      margin-left: 0;
      font-size: 2.8rem;
    }
    #email {
      height: 5rem;
    }
    #message {
      height: 25rem;
    }
    /* project 2 ***************/
    .seasonlyLanding img#desktopLanding {
      display: none !important;
    }

    #design img{
      display: none !important;
    }
    .fourImg {
      width: 100%;
    }
    .fourImg img{
      width: 45%;
    }
    .threeSectionImg img {
      width: 100%;
    }
    #maze img {
      width: 31%;
      padding: .2rem;
      margin-top: 1rem;
    }
    .gif {
      display: none;
    }
    .smallSectionImg, .mediumSectionImg {
      width: 95%;
      text-align: center;
      margin: auto;
      padding-left: 0;
    }
     .smallSectionImg img, .mediumSectionImg img {
       width: 95%;
     }
     .twoSectionImg img {
       width: 75%;
     }

    header {
      height: 85vh;
      background-image: url("../images/landingBackgroundMobile.png");
    }
    h1.slogan, h1.greeting {
      font-size: 6rem;
      line-height: 9rem;
      letter-spacing: .09rem;
      padding-left: 5rem;
      width: 85%;
    }
    h1.greeting {
      font-size: 5rem;
      padding-top: 16rem;
    }
    .sloganDivider {
    margin-left: 5rem;
    width: 40%;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  #latestWork {
      background-image: url("../images/workMobile.png");
  }
  h2.workTitle {
    width: 60%;
  }
  /* project 01 -- */
  h5.appType {
    font-size: 2.4rem;
  }
  .workText p {
    margin: auto;
    width: 65%;
  }
  h5 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .containerBottom {
    width: 95%;
    margin: auto;
    padding: 0;
  }
  .work {
    margin-top: 8rem;
  }
  .work, .work2, .workText, .workImg, img.workImg {
    display: block;
    text-align: center;
  }
  .work > .workText {
    width: 100%;
    margin: auto;
    text-align: center;
    position: static;
    display: block;
    padding-top: 0;
  }
  .work > .workText > .underline {
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
  .work > .workImg {
    width: 100%;
    float: none;
  }
  img.workImg {
    width: 100%;
  }
  h4.button {
    padding-top: 2.5rem;
    margin: 0;
    font-size: 2.6rem;
  }
  /* project 02 -- */
  .work2 > .workText {
    width: 100%;
    margin: auto;
    text-align: center;
    position: static;
    display: block;
  }
  .work2 > .workText > .underline {
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
    float: none;
    margin-bottom: 4rem;
  }
  .work2 > .workImg {
    width: 100%;
    float: none;
  }
  .work2 > img.workImg {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  /* footer -- */
  .footer {
    height: 30rem;
    bottom: 0;
    }
  .footerText {
    width: 65%;
    margin: auto;
  }
  .footerText > h2 {
    font-size: 4.8rem;
  }
  p {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
  /* ABOUT PAGE --------------- */
  .landingAbout {
  height: 75vh;
  width: 100%;
  background-size: cover;
  }
  .landingAboutContainer {
  height: 75vh;
  }
  /* quote */
  .landingQuote {
    padding-top: 8rem;
  }
  h3#quote {
    font-size: 2.6rem;
  }
  /* Introduction and my story-- */
  .aboutSection, .subSection, .lastAboutSection {
  width: 90%;
  }
  .box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
  .aboutSectionText {
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
  h4 {
  font-size: 2.2rem;
  }

  /* PROJECT PAGE ----------------------- */
  .landingContainer {
  height: 115vh;
  background-size: cover;
  width: 100%;
  }
  .landing {
    height: 100vh;
    width: 100%;
  }
  .landing img {
    width: 47%;
    margin: auto;
    padding-left: 2%;
  }
  .landingImg {
    margin-top: 3rem;
  }
  img.obLogo {
    width: 60%;
    margin: auto;
  }
  .landingText {
    width: 80%;
    margin: auto;
  }
  /* prototype and deliverable buttons */
  .protoButton {
    margin-top: 4rem;
    width: 24rem;
    margin-bottom: 2rem;
  }
  /*Roles, Deliverables, Specs */
  .column {
    float:none;
    width: 90%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  /* solution */
  .solutionImg {
    width: 100%;
    margin: auto;
  }
  .solutionImg img {
    width: 33%;
    margin: auto;
    padding-top: 3rem;
  }
  .focus, .aboutFocus {
    width: 85%;
  }
  /*Sections */
  .section {
    width: 85%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .sectionTitle > .underline {
    margin-bottom: 4rem;
  }
  /* user survey & comp analysis */
  .columnPercent {
    float:none;
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .columnComp {
    float:none;
    width: 70%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .columnComp img {
    padding-top: 5rem;
  }
  .rowComp {
    margin-bottom: 2rem;
  }
  /*user personas */
  .sectionText {
    width: 85%;
    padding-bottom: 2rem;
  }
  .columnPersona {
    float:none;
    width: 95%;
    margin: auto;
    padding-top: 0;
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
  }
  .textLeft > h4 {
    padding-top: 4rem;
  }
  .columnImg img {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .textLeft ul {
    padding-bottom: 3rem;
  }
  /* concept & identity */
  .centerText img {
    width: 90%;
    margin: auto;
  }
  /* pref tests */
  .sectionImg img {
    width: 100%;
  }
  /*-- Phase 1-5 */
  .phase {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin: auto;
  }
  /*phase */
  .phase img {
    width: 55%;
    margin:auto;
  }
  /* usability tests */
  .testingImg img {
    width: 65%;
    margin:auto;
    padding-bottom: 4rem;
  }
  /*testing key takeaways*/
  img.iterations {
    width: 75%;
    margin: auto;
  }
}
